<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chikara.linklist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SingleLinkList.DeleteLastNode" />
        <activity android:name=".SingleLinkList.DeleteFirstNode" />
        <activity android:name=".SingleLinkList.LinkListInsertion" />
        <activity android:name=".SingleLinkList.InsertionAtBeginning" />
        <activity android:name=".SingleLinkList.InsertNodeAtPosition" />
        <activity android:name=".SingleLinkList.LinkListInsertNodeAtEnd" />
        <activity android:name=".SingleLinkList.LinkListTraversingElement" />

        <activity android:name=".DoubleLInkList.DoubleListActivity" />
        <activity android:name=".DoubleLInkList.DoubleDeleteLastNode" />
        <activity android:name=".DoubleLInkList.DoubleListInsertAtEnd" />
        <activity android:name=".DoubleLInkList.DoubleListInsertElement" />
        <activity android:name=".DoubleLInkList.DoubleDeletePositionNode" />
        <activity android:name=".DoubleLInkList.DoubleDeleteFirstElement" />
        <activity android:name=".DoubleLInkList.DoubleListInsertNodeAtMid" />
        <activity android:name=".DoubleLInkList.DoubleInsertElementAtPosition" />

        <activity android:name=".SingleCircularList.InsertNode"/>
        <activity android:name=".SingleCircularList.InsertAtMid"/>
        <activity android:name=".SingleCircularList.InsertLatNode"/>
        <activity android:name=".SingleCircularList.InsertFirstNode"/>
        <activity android:name=".SingleCircularList.SingleCircularActivity"/>

        <activity android:name=".Question.ShortLinkList"/>
        <activity android:name=".Question.RotateLinkList"/>
        <activity android:name=".Question.LoopInLinkList"/>
        <activity android:name=".Question.ReverseLinkList"/>
        <activity android:name=".Question.MergeTwoShortList"/>
        <activity android:name=".Question.PailandromLinkList"/>
        <activity android:name=".Question.RemoveShortListDuplicateElement"/>
        <activity android:name=".Question.DeleteUnshortListDupElementHashing"/>
        <activity android:name=".Question.RemoveUnshortedListDuplicateElement"/>

    </application>

</manifest>